.me-font{
  font-family: 'PT Sans', sans-serif !important;
  color: #212333;
}

.me-progress{
  background-color: #212333;
  color: #fff;
}

.me-regist{
  width: 50% !important;
}

@media (min-width:640px) {
  .me-input{
    width:50%;
  }
}

@media (max-width: 640px) {
  .me-input{
    width:90%;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.me-bglila{
    background-color: #0f102d !important;
    color: #fff !important;
  }
  
  .me-bggray{
    background-color: #3a4b53;
  }
  
  .me-txtlila{
    background-color: #fffd;
    color: #0f102d;
  }

  /* runners List */
  .rTableBox{
    padding: 2%;
  }
  
  .rTable { display: block; }
  .rTableRow { display: table-row;}
  .rTableHeading { display: table-header-group; }
  .rTableBody { display: table-row-group; }
  .rTableFoot { display: table-footer-group; }
  .rTableCell { 
    display: table-cell; padding: 0px 5px;
  }
  
  .rTableHead{
    padding: 0px 5px;
    display: table-cell;
    color: green;
  }
  
  .buttonRow{
   margin-top: 5%
  }
  
  #overlay {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    position: fixed;
    display: none;
    width: 60%;
    height: auto;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    background-color: #54d818;
    background-image: linear-gradient(to bottom, #54d818, rgb(253, 246, 246) 100%);
    z-index: 2;
    cursor: pointer;
    text-align: center;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  
  input[type=text].private, input[type=email].private, .rGender{
    width: 50%;
    margin: 1% auto;
  }
  