body {
  font-family: 'Roboto', sans-serif !important;
  color: #212333 !important;
}

.mytop{
background-color: #fff;
}

.content{
  margin-top:80px !important;
}

.me-font{
  font-family: 'PT Sans', sans-serif !important;
  color: #212333;
}

.me-progress{
  background-color: #212333;
  color: #fff;
}

.me-regist{
  width: 50% !important;
}

@media (min-width:640px) {
  .me-input{
    width:50%;
  }
}

@media (max-width: 640px) {
  .me-input{
    width:90%;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.me-bglila{
    background-color: #0f102d !important;
    color: #fff !important;
  }
  
  .me-bggray{
    background-color: #3a4b53;
  }
  
  .me-txtlila{
    background-color: #fffd;
    color: #0f102d;
  }

  /* runners List */
  .rTableBox{
    padding: 2%;
  }
  
  .rTable { display: block; }
  .rTableRow { display: table-row;}
  .rTableHeading { display: table-header-group; }
  .rTableBody { display: table-row-group; }
  .rTableFoot { display: table-footer-group; }
  .rTableCell { 
    display: table-cell; padding: 0px 5px;
  }
  
  .rTableHead{
    padding: 0px 5px;
    display: table-cell;
    color: green;
  }

  .rTableHeadBlue{
    padding: 0px 5px;
    display: table-cell;
    color: #2196F3;
  }
  
  .buttonRow{
   margin-top: 5%
  }
  
  #overlay {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    position: fixed;
    display: none;
    width: 60%;
    height: auto;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    background-color: #54d818;
    background-image: linear-gradient(to bottom, #54d818, rgb(253, 246, 246) 100%);
    z-index: 2;
    cursor: pointer;
    text-align: center;
  }
  
  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
  
  input[type=text].private, input[type=email].private, .rGender{
    width: 50%;
    margin: 1% auto;
  }

.zselect{
  padding: 0px 5px;
  display: table-cell;
  color: #2196F3;
  border: none;
}

tr:nth-child(2){
  background-color: #FFD700 !important;
  border: 1px solid #fff;
  font-weight: bold;
 }
 
 tr:nth-child(3){
   background-color: #C0C0C0 !important;
   border: 1px solid #fff;
  }
 
  tr:nth-child(4){
   background-color: #CD7F32!important;
   border: 1px solid #fff;
  }

  /* moving points */
  .points {
  }
  
  .points ul {
    display: flex;
  }
  .points ul li {
    transition: 0.5s all ease;
    width: 20px;
    height: 20px;
    list-style-type: none;
    margin: 10px;
    animation: right 1s infinite;
  }
  .points ul li:nth-child(1) {
    background-color: #EAB885;
    animation-delay: 500ms;
  }
  .points ul li:nth-child(2) {
    background-color: #DC6BAD;
    animation-delay: 1000ms;
  }
  .points ul li:nth-child(3) {
    background-color: #7badd6;
    animation-delay: 1500ms;
  }
  .points ul li:nth-child(4) {
    background-color: #07bdda;
    animation-delay: 2000ms;
  }
  .points ul li:nth-child(5) {
    background-color: #4cd3ba;
    animation-delay: 2500ms;
  }
  .points ul:hover li {
    transition: 0.5s all ease;
  }
  .points ul:hover li:nth-child(1) {
    animation-delay: 100ms;
  }
  .points ul:hover li:nth-child(2) {
    animation-delay: 200ms;
  }
  .points ul:hover li:nth-child(3) {
    animation-delay: 300ms;
  }
  .points ul:hover li:nth-child(4) {
    animation-delay: 400ms;
  }
  .points ul:hover li:nth-child(5) {
    animation-delay: 500ms;
  }
  
  @keyframes right {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
/* table div */

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #2196F3;
  background: #fff;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    padding: 0;
    height: 6px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell {
    margin-bottom: 10px;
  }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2196F3;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}


.zshow{
  display:table;
}
.zhide{
  display:none;
}