<template name="passedStarters">

    <div class="w3-container w3-margin">
        <ul class="w3-ul w3-card-4">
            {{#each alreadyStarted}}
            <li class="">
                <span class="resetStarter w3-bar-item w3-button w3-white w3-xlarge w3-right"
                    data-starterID={{_id}}>Reset starter</span>
                <div class="w3-bar-item">{{startnumber}}</div>
                <div class="w3-bar-item">
                    <span class="w3-large">{{firstName}}</span><br>
                    <span>{{lastName}}</span>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>

</template>