<template name="topNavigation">

    <div class="w3-top">
        <div class="w3-bar w3-teal w3-card">
            <a class="navBtn w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="#"
                title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="../tt" class="w3-bar-item w3-padding-large w3-hover-red">Home</a>
            {{#if currentUser}}
            <a id="logoutBtn" href="#" class="w3-padding-large w3-hover-red w3-hide-small w3-right">Logout</a>
            {{/if}}
        </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div id="navDemo" class="w3-bar-block w3-teal w3-hide w3-hide-large w3-hide-medium w3-top">
        <a href="#band" class="navBtn w3-bar-item w3-button w3-padding-large">WP</a>
    </div>

</template>