.rTableBox{
  padding: 2%;
  overflow-x: auto;
}

.rTable { display: block; }
.rTableRow { display: table-row;}
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell { 
  display: table-cell; padding: 0px 5px;
}

.rTableHead{
  padding: 0px 5px;
  display: table-cell;
  color: green;
}

.buttonRow{
 margin-top: 5%
}

#overlay {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  position: fixed;
  display: none;
  width: 60%;
  height: auto;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  background-color: #54d818;
  background-image: linear-gradient(to bottom, #54d818, rgb(253, 246, 246) 100%);
  z-index: 2;
  cursor: pointer;
  text-align: center;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

input[type=text].private, input[type=email].private, .rGender{
  width: 50%;
  margin: 1% auto;
}
