<template name="runnersListTemplate">

    {{#if currentUser}}

    <H1>Anmeldeliste</H1>

    <div class="w3-container buttonRow">
        <button class="w3-button w3-green evtBtn" data-target="createR">Create Runner</button>
    </div>

    <div class="rTableBox">
        <div class="rTable">
            <div class="rTableRow">
                <div class="rTableHead"></div>
                <div class="rTableHead">Vorname</div>
                <div class="rTableHead">Nachname</div>
                <div class="rTableHead">eMail</div>
                <div class="rTableHead">Club</div>
                <div class="rTableHead">Geburtstag</div>
                <div class="rTableHead">m/w</div>
                <div class="rTableHead">Bestätigt</div>
                <div class="rTableHead">Überwiesen</div>
                <div class="rTableHead"></div>
            </div>

            {{#each runners}}

            <div class="rTableRow" id="{{_id}}">
                <div class="rTableCell rFirstCell">
                    <input type="radio" name="nRunner" value="{{_id}}">
                </div>
                <div class="rTableCell">{{firstName}}</div>
                <div class="rTableCell">{{lastName}}</div>
                <div class="rTableCell">{{email}}</div>
                <div class="rTableCell">{{team}}</div>
                <div class="rTableCell">{{birthday}}</div>
                <div class="rTableCell">
                    <select class="w3-select" name="gender" disabled>
                        <option value="Mädchen" {{formatGender gender "Mädchen"}}>Mädchen</option>
                        <option value="Junge" {{formatGender gender "Junge"}}>Junge</option>
                    </select>
                </div>
                <div class="rTableCell">
                    <input class="w3-check" type="checkbox" {{formatBoolean verified}} disabled>
                </div>
                <div class="rTableCell">
                    <input class="w3-check" type="checkbox" {{formatBoolean payed}} disabled>
                </div>
            </div>

            {{/each}}
        </div>
    </div>


    <div id="logout" class="prvCntDiv" style="display:none">logout</div>

    {{else}}
   <div class="privBox">{{> loginButtons}}</div> 

    <!--<div class="privLoginBox">{{> login}}</div> -->

    {{/if}}




</template>