<template name="runnersListTemplate">
    <H1>Anmeldeliste</H1>

    <div class="w3-container buttonRow">
            <button class="w3-button w3-green evtBtn" data-target="createR">Create Runner</button>
            <button class="w3-button w3-yellow evtBtn" data-target="changeR">Change Runner</button>
            <button class="w3-button w3-red evtBtn" data-target="deleteR">Delete Runner</button>
        </div>
    
        <!--
        <div class="w3-round-xlarge" id="overlay" onclick="off()">
            <div>
                <form id="addRunnerForm">
                    <input type="text" placeholder="Vorname*" id="firstName" name="firstName" class="validate private">
                    <input type="email" placeholder="eMail-Adresse*" id="eMail" name="eMail" class="validate private">
                    <input type="text" placeholder="Nachname*" id="lastName" name="lastName" class="validate private">
                    <input type="text" placeholder="Verein" id="club" name="club" class="private">
                    <div class="rGender">
                        <input type="radio" name="gender" value="male">
                        <label for="mc">Mädchen</label>
                        <input type="radio" name="gender" value="female">
                        <label for="mc">Junge</label>
                    </div>
                    {{> birthSelection }}
                </form>
                <button class="w3-button w3-green w3-margin-top evtBtn" data-target="createUser">Create</button>
                <button class="w3-button w3-red w3-margin-top evtBtn" data-target="cancelCreation">Cancel</button>
            </div>
        </div>
    -->
        <div class="rTableBox">
            <div class="rTable">
                <div class="rTableRow">
                    <div class="rTableHead"></div>
                    <div class="rTableHead">Vorname</div>
                    <div class="rTableHead">Nachname</div>
                    <div class="rTableHead">eMail</div>
                    <div class="rTableHead">Club</div>
                    <div class="rTableHead">m/w</div>
                    <div class="rTableHead">Altersklasse</div>
                    <div class="rTableHead">Bestätigt</div>
                    <div class="rTableHead">Überwiesen</div>
                </div>
    
                {{#each runners}}
    
                <div class="rTableRow" id="{{_id}}">
                    <div class="rTableCell rFirstCell">
                        <input type="radio" name="nRunner" value="{{_id}}">
                    </div>
                    <div class="rTableCell">{{firstName}}</div>
                    <div class="rTableCell">{{lastName}}</div>
                    <div class="rTableCell">{{email}}</div>
                    <div class="rTableCell">{{team}}</div>
                    <div class="rTableCell">{{gender}}</div>
                    <div class="rTableCell">{{birthday}}</div>
                    <div class="rTableCell">{{formatBoolean verified}}</div>
                    <div class="rTableCell">{{formatBoolean payed}}</div>
                </div>
    
                {{/each}}
            </div>
        </div>
    

</template>