<template name="runnersListTemplate">

    {{#if currentUser}}

    <H1>Anmeldeliste</H1>

    <div class="w3-panel w3-blue w3-leftbar w3-rightbar w3-border-yellow ">
        <a href="./listteams" class="w3-button w3-gray w3-margin">Springe zu Teamanmeldungen</a>
    </div>

    <div class="w3-container buttonRow">
        <button class="w3-button w3-green evtBtn" data-target="createR">Create Runner</button>
        <!-- <button class="w3-button w3-green evtBtn" data-target="downloadExcel">Create CSV</button> -->
    </div>

    <div class="rTableBox">
        <div class="rTable">
            <div class="rTableRow w3-center">
                <div class="rTableHead"></div>
                <div class="rTableHead">Vorname</div>
                <div class="rTableHead">Nachname</div>
                <div class="rTableHead">eMail</div>
                <div class="rTableHead">Team</div>
                <div class="rTableHead">Geburtstag</div>
                <div class="rTableHead">Geschlecht</div>
                <div class="rTableHead">Event</div>
                <div class="rTableHead">Überwiesen</div>
                <div class="rTableHead">Startnummer</div>
                <div class="rTableHead">Zielzeit</div>
                <div class="rTableHead">Hall4XZeit</div>
                <div class="rTableHead"></div>
            </div>

            <div class="rTableRow w3-center">
                <div class="rTableHead"></div>
                <div class="rTableHead w3-text-blue">
                    <i class="sort fa fa-sort" data-target="firstName" style="padding-left:2px"></i>
                </div>
                <div class="rTableHead w3-text-blue">
                    <i class="sort fa fa-sort" data-target="lastName" style="padding-left:2px"></i>
                </div>
                <div class="rTableHead w3-text-blue">
                    <i class="sort fa fa-sort" data-target="email" style="padding-left:2px"></i>
                </div>
                <div class="rTableHead w3-text-blue">
                    <i class="sort fa fa-sort" data-target="team" style="padding-left:2px"></i>
                </div>
                <div class="rTableHead w3-text-blue">
                    <i class="sort fa fa-sort" data-target="birthday" style="padding-left:2px"></i>
                </div>
                <div class="rTableHead w3-text-blue">
                    <select class="zselect" data-target="gender">
                        <option value="0">m/w</option>
                        <option value="female">Mädchen</option>
                        <option value="male">Junge</option>
                    </select>
                </div>
                <div class="rTableHead w3-text-blue">
                    <select class="zselect" data-target="event">
                        <option value="0">Alle Events</option>
                        <option value="1">MAD Enduro</option>
                        <option value="3">MAD Nachwuchs</option>
                        <option value="4">MAD Crosscountry</option>
                        <option value="5">MAD Enduro + MAD HALL4X</option>
                    </select>
                </div>
                <!--
                <div class="rTableHead">Bestätigt</div>
                -->
                <div class="rTableHead w3-text-blue">
                    <i class="sort fa fa-sort" data-target="payed" style="padding-left:2px"></i>
                </div>
                <div class="rTableHead w3-text-blue">
                    <i class="sort fa fa-sort" data-target="startnumber" style="padding-left:2px"></i>
                </div>
                <div class="rTableHead w3-text-blue">
                    <i class="sort fa fa-sort" data-target="time" style="padding-left:2px"></i>
                </div>
                <div class="rTableHead w3-text-blue">
                    <i class="sort fa fa-sort" data-target="time" style="padding-left:2px"></i>
                </div>
                <div class="rTableHead"></div>
            </div>

            {{#each runners}}

            <div class="rTableRow" id="{{_id}}">
                <div class="rTableCell rFirstCell">
                    <input class="selRowBtn" type="radio" name="nRunner" value="{{_id}}">
                </div>
                <div class="rTableCell">{{firstName}}</div>
                <div class="rTableCell">{{lastName}}</div>
                <div class="rTableCell">{{email}}</div>
                <div class="rTableCell w3-center">{{team}}</div>
                <div class="rTableCell">{{birthday}}</div>
                <div class="rTableCell">
                    <select class="w3-select" name="gender" disabled>
                        <option value="female" {{formatValue gender "female"}}>Mädchen</option>
                        <option value="male" {{formatValue gender "male"}}>Junge</option>
                    </select>
                </div>
                <div class="rTableCell">
                    <select class="w3-select" name="event" disabled>
                        <option value="1" {{formatValue event "1"}}>MAD Enduro</option>
                        <!--
                        <option value="2" {{formatValue event "2"}}>MAD Laufradrennen</option>
                        -->
                        <option value="3" {{formatValue event "3"}}>MAD Nachwuchs</option>
                        <option value="4" {{formatValue event "4"}}>MAD Crosscountry</option>
                        <option value="5" {{formatValue event "5"}}>MAD Enduro + MAD HALL4X</option>
                        <!--
                        <option value="5" {{formatValue event "5"}}>MAD 4er Team</option>
                        -->
                    </select>
                </div>
                <!--
                <div class="rTableCell">
                    <input class="w3-check" type="checkbox" {{formatBoolean verified}} disabled>
                </div>
            -->
                <div class="rTableCell w3-center">
                    <input class="w3-check" type="checkbox" {{formatBoolean payed}} disabled>
                </div>
                <div class="rTableCell w3-center">{{startnumber}}</div>
                <div class="rTableCell">{{time}}</div>
                <div class="rTableCell">{{halltime}}</div>
            </div>

            {{/each}}
        </div>
    </div>


    <div id="logout" class="prvCntDiv" style="display:none">logout</div>

    {{else}}
    <div class="privBox">{{> loginButtons}}</div>


    <!-- wrongloginform
        <div class="privLoginBox">{{> login}}</div>-->

    {{/if}}


    <div id="id02" class="w3-modal">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-red">
                <span id="close" class="w3-button w3-display-topright">&times;</span>
                <h2>Fehler</h2>
            </header>
            <div class="w3-container">
                <p id="errorMsg"></p>
            </div>
            <footer class="w3-container w3-red">
                <p>Bitte nochmal versuchen</p>
            </footer>
        </div>
    </div>


</template>