<template name="header">
    <div class="w3-top mytop" id="myHeader">
        <div class="w3-row w3-container">
            <div class="w3-col s4 w3-left">
                <div class="w3-bar">
                <div class="w3-bar-item w3-padding w3-xlarge">
                    <a href="https://www.madcross.de" class="uppertxt" title="MadEast">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="w3-bar-item w3-padding w3-xlarge">
                    <a href="mailto:massive-snowpark@gmx.de?subject=MadEast2019" class="uppertxt" title="mailto:massive-snowpark@gmx.de">
                        <i class="fa fa-envelope" ></i>
                    </a>
                </div>
            </div>
            </div>
            <div class="w3-col s4 w3-center">
                <h5 class="me-font">MADEast 2019 Onlineanmeldung</h5>
            </div>
            <br>
            <div class="w3-col s4 w3-center">
                <p></p>
            </div>
        </div>
    </div>
</template>