<template name="header">
    <div class="w3-top mytop" id="myHeader">
        <div class="w3-row w3-container">
            <div class="w3-col s4 w3-left">
                <div class="w3-bar">
                <div class="w3-bar-item w3-padding w3-xlarge">
                    <a href="https://www.madcross.de/events/madeast.html" class="uppertxt" title="MadEast">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="w3-bar-item w3-padding w3-xlarge">
                    <a href="https://www.forum.madcross.de/" class="uppertxt" title="MadCross Forum">
                        <i class="fa fa-comment" ></i>
                    </a>
                </div>
                <div class="w3-bar-item w3-padding w3-xlarge">
                    <a href="mailto:madeast@madcross.de" class="uppertxt" title="mailto madeast@madcross.de">
                        <i class="fa fa-envelope" ></i>
                    </a>
                </div>
            </div>
            </div>
            <div class="w3-col s4 w3-center">
                <h5 class="me-font">MADEast Onlineanmeldung</h5>
            </div>
            <br>
            <div class="w3-col s4 w3-center">
                <p></p>
            </div>
        </div>
    </div>
</template>