<template name="registerform">

  {{> header}}

  <div class="w3-container w3-margin">&nbsp;</div>

  <div class="w3-container w3-margin">

    <div class="w3-bar w3-blue">
      <a href="#" class="w3-bar-item w3-button w3-mobile navElem w3-green" data-target="register">Ich will mitfahren!</a>
      <a href="#" class="w3-bar-item w3-button w3-mobile navElem" data-target="lists">Anmeldungen</a>
      <a href="#" class="w3-bar-item w3-button w3-mobile navElem" data-target="results">Ergebnisse</a>
      
    </div>

    <div id="register" class="w3-card w3-padding w3-margin prvCntDiv">
      <div class="w3-container">

          <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
              <p>Onlineanmeldung ist geschlossen, für die Events am Sonntag könnt Ihr Euch natürlich auch kurzfristig vor Ort anmelden.</p>
            </div>

    <!--    <div id="max1" class="w3-panel w3-red w3-display-container w3-animate-left" style="display:none">
          <span onclick="this.parentElement.style.display='none'" class="w3-button w3-red w3-large w3-display-topright">&times;</span>
          <p>Für
            <b>MAD Enduro</b> ist das Registrierungs-Limit von
            <span id="max1Cnt"></span> Plätzen leider erreicht. Bitte schaue in in ein paar Tagen nochmal vorbei, ob wieder freie Plätze durch
            fehlende Überweisungen oder Abmeldungen verfügbar sind.</p>
        </div>

        <div id="max5" class="w3-panel w3-red w3-display-container w3-animate-left" style="display:none">
          <span onclick="this.parentElement.style.display='none'" class="w3-button w3-red w3-large w3-display-topright">&times;</span>
          <p>Für
            <b>MAD Enduro + MADHALL4X</b> ist das Registrierungs-Limit von
            <span id="max5Cnt"></span> Plätzen leider erreicht. Bitte schaue in in ein paar Tagen nochmal vorbei, ob wieder freie Plätze durch
            fehlende Überweisungen oder Abmeldungen verfügbar sind.</p>
        </div>

        <p>
          <label class="me-txtlila">
            <b>Veranstaltung
              <span style="color:red">*</span>
            </b>
          </label>
          <br>
          <select name="event" id="event" class="me-input validateInput w3-select w3-border w3-sand w3-quarter w3-margin-bottom w3-margin-right">
            <option value="" disabled selected>Bitte auswählen</option>
            <option value="1">MAD Enduro</option>
            <option value="5">MAD Enduro + MAD HALL4X</option>
            <option value="3">MAD Nachwuchs</option>
            <option value="4">MAD Crosscountry</option>
            <option value="6">MAD 4er-TeamRennen</option>
          </select>
        </p>
        <br>

        <div class="w3-container" id="availCount" style="display:none">
          <p id="countmsg"></p>
          <div class="w3-red w3-round-xlarge">
            <div id="count" class="w3-container w3-green w3-round-xlarge" style="width:0%">&nbsp;</div>
          </div>
        </div>

        <hr>

        <div id="teamdata" style="display:none">
          <p>
            <label class="me-txtlila">
              <b>Teamname
                <span style="color:red">*</span>
              </b>
            </label>
            <input id="teamName" class="me-input validateInput w3-input w3-border w3-round w3-hover-blue w3-animate-input w3-sand" type="text">
          </p>
          <p>
            <label class="me-txtlila">
              <b>email vom Teamchef
                <span style="color:red">*</span>
              </b>
            </label>
            <input id="teamEmail" class="me-input validateInput w3-input w3-border w3-round w3-hover-blue w3-animate-input w3-sand" type="text">
          </p>

          <p>
            <label class="me-txtlila">
              <b>Starter Nicknames
              </b>
            </label>
            <div class="w3-row">
              <div class="w3-col w3-quarter w3-padding">
                <label class="me-txtlila">
                  <b>Starter 1
                    <span style="color:red">*</span>
                  </b>
                </label>
                <input id="starter1" class="me-input validateInput w3-input w3-border w3-round w3-hover-blue w3-animate-input w3-sand" type="text">
              </div>
              <div class="w3-col w3-quarter w3-padding">
                <label class="me-txtlila">
                  <b>Starter 2
                    <span style="color:red">*</span>
                  </b>
                </label>
                <input id="starter2" class="me-input validateInput w3-input w3-border w3-round w3-hover-blue w3-animate-input w3-sand" type="text">
              </div>
              <div class="w3-col w3-quarter w3-padding">
                <label class="me-txtlila">
                  <b>Starter 3
                    <span style="color:red">*</span>
                  </b>
                </label>
                <input id="starter3" class="me-input validateInput w3-input w3-border w3-round w3-hover-blue w3-animate-input w3-sand" type="text">
              </div>
              <div class="w3-col w3-quarter w3-padding">
                <label class="me-txtlila">
                  <b>Starter 4
                    <span style="color:red">*</span>
                  </b>
                </label>
                <input id="starter4" class="me-input validateInput w3-input w3-border w3-round w3-hover-blue w3-animate-input w3-sand" type="text">
              </div>
            </div>
          </p>

        </div>

        <div id="formdata">

          <p>
            <label class="me-txtlila">
              <b>Vorname
                <span style="color:red">*</span>
              </b>
            </label>
            <input id="firstName" class="me-input validateInput w3-input w3-border w3-round w3-hover-blue w3-animate-input w3-sand" type="text">
          </p>
          <p>
            <label class="me-txtlila">
              <b>Nachname
                <span style="color:red">*</span>
              </b>
            </label>
            <input id="lastName" class="me-input validateInput w3-input w3-border w3-round w3-hover-blue w3-animate-input w3-sand" type="text">
          </p>
          <p>
            <label class="me-txtlila">
              <b>eMail
                <span style="color:red">*</span>
              </b>
            </label>
            <input id="eMail" class="me-input validateInput w3-input w3-border w3-round w3-hover-blue w3-animate-input w3-sand" type="text">
          </p>
          {{> birthSelection}}

          <div class="w3-row w3-margin-bottom">

            <div class="w3-quarter">
              <input class="validateInput w3-radio" type="radio" name="gender" value="female">
              <label class="me-txtlila">
                <b>weiblich
                  <span style="color:red">*</span>
                </b>
              </label>
            </div>
            <div class="w3-quarter">
              <input class="validateInput w3-radio" type="radio" name="gender" value="male">
              <label class="me-txtlila">
                <b>männlich
                  <span style="color:red">*</span>
                </b>
              </label>
            </div>
          </div>
          <p>
            <label class="me-txtlila">
              <b>Team/Verein</b>
            </label>
            <input id="team" class="me-input validateInput w3-input w3-border w3-round w3-hover-blue w3-animate-input w3-sand" type="text">
          </p>
        </div>

        <p>
          <input id="tb" class="w3-check" type="checkbox">
          <label>Ich bestätige die Teilnahmebedingungen</label>
        </p>

        <div class="w3-light-grey w3-round-xlarge">
          <div id="progress" class="w3-container me-progress w3-round-xlarge" style="width:0%">0%</div>
        </div>

        <p>
          <button id="submitBtn" class="w3-btn me-bglila" disabled>Anmelden</button>
        </p> -->
      </div>

    </div>

    <div id="lists" class="w3-padding w3-margin prvCntDiv" style="display:none">
      <div class="w3-container">
        {{> registerlist}}
      </div>
    </div>


    <div id="results" class="w3-padding w3-margin prvCntDiv" style="display:none">
      <div class="w3-container">
        {{> results}}
      </div>
    </div>

  </div>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-teal">
        <h2>Du bist vorgemerkt als
          <span id="runnersCount"></span>. Teilnehmer! </h2>
      </header>
      <div class="w3-container">
        <p>Bitte Mails prüfen und Registrierung abschliessen</p>
      </div>
      <footer class="w3-container w3-teal">
        <button onclick="window.open('https://www.madcross.de/events/madeast.html','_self')" class="w3-margin w3-button w3-border w3-hover-pale-red">Cool!</button>
      </footer>
    </div>
  </div>

  <div id="id02" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-red">
        <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h2>Fehler</h2>
      </header>
      <div class="w3-container">
        <p id="errorMsg"></p>
      </div>
      <footer class="w3-container w3-red">
        <p>Bitte nochmal versuchen</p>
      </footer>
    </div>
  </div>

  <div id="id03" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-teal">
        <h2>Team vorgemerkt als
          <span id="teamCount"></span>. Teilnehmer! </h2>
      </header>
      <div class="w3-container">
        <p>Bitte Mails prüfen und Registrierung abschliessen</p>
      </div>
      <footer class="w3-container w3-teal">
        <button onclick="window.open('https://www.madcross.de/events/madeast.html','_self')" class="w3-margin w3-button w3-border w3-hover-pale-red">Cool!</button>
      </footer>
    </div>
  </div>

  <div id="conditions" class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container me-bglila">
        <h2>Teilnahmebedingungen</h2>
      </header>
      <div class="w3-container">
        <p id="txt">Der Veranstalter behält sich vor, die Ausschreibung, die Strecke und das Reglement jederzeit ändern zu können.</p>
        <p id="txt">
          Bei Ausfall oder Abbruch der Veranstaltung aufgrund von höherer Gewalt oder anderen Gründen, die der Veranstalter nicht zu
          vertreten hat, hat der Teilnehmer keinen Anspruch auf Rückerstattung oder Schadensersatzansprüche jeglicher Art.</p>
        <p id="txt">Das Tragen eines Rückenprotektors (CE-Kennzeichnung beachten) bzw. eines Rucksacks mit Rückenprotektor wird ausdrücklich
          empfohlen. Das Tragen von Ellbogen-/Knie-/Schienbeinprotektoren und Fullface-Helm wird empfohlen.</p>
        <p id="txt">Jeder Teilnehmer erklärt mit seiner Unterschrift auf dem Meldeformular bzw. mit dem Abschicken der Onlineanmeldung
          sein Einverständnis mit den Teilnahmebedingungen. Teilnehmer unter 18 Jahren benötigen eine Einverständniserklärung
          der Eltern.</p>
        <p id="txt">Die Teilnehmer sind aufgefordert, sich in Notsituationen gegenseitig Hilfe zu leisten. Der Veranstalter wird bei
          nachgewiesenem, auf Hilfeleistung basierendem Zeitverlust, Zeitgutschriften vornehmen. Bei nachweislich unterlassener
          Hilfeleistung wird der Teilnehmer disqualifiziert.</p>
        <p id="txt">Die Teilnehmer werden darauf hingewiesen, dass für die Getränke- und Essensausgabe ausschließlich Mehrwegbecher bzw.
          Mehrwegschüsseln verwendet werden, wofür ein Pfand zu hinterlegen ist. Wir bitten daher die Teilnehmer Kleingeld
          während der Veranstaltung mit sich zuführen.</p>
        <p id="txt">Jeder Teilnehmer fährt auf eigenes Risiko und das Tragen eines Helms ist jederzeit Pflicht. Jeder Teilnehmer hat
          sich vor Beginn der Veranstaltung über den Streckenverlauf und die Streckenbesonderheiten umfassend zu informieren.</p>
        <p id="txt">Die Straßenverkehrsordnung ist jederzeit zu beachten. Vorrechte im Straßenverkehr stehen den Teilnehmern nicht zu.
          Der übrige Straßenverkehr darf nicht über das normale Maß hinaus behindert oder gefährdet werden. Den Teilnehmern
          an der Veranstaltung werden keine Befreiungen von den Vorschriften der StVO gewährt. Auf Forst- und Waldwegen ist
          die gegenseitige Rücksichtnahme gegenüber anderen Wegnutzern verpflichtend. Bei Nichtbeachtung behält sich der
          Veranstalter Zeitstrafen oder eine Disqualifizierung des Teilnehmers vor.</p>
        <p id="txt">
          Jeder Teilnehmer erkennt den Haftungsausschluss des Veranstalters für Schäden jeder Art an und wird weder gegen den Veranstalter,
          die Sponsoren und die von der Streckenführung betroffenen Grundstückseigentümer, noch gegen die Etappenorte oder
          deren Vertreter Ansprüche wegen Schäden und Verletzungen jeder Art erheben, die durch die Teilnahme am Wettbewerb
          entstehen können.</p>
        <p id="txt">Jeder Teilnehmer erklärt sich damit einverstanden, dass Fotos, Filmaufnahmen oder Interviews in Rundfunk und Fernsehen
          von ihm ohne Vergütungsanspruch vom Veranstalter genutzt werden.</p>
        <p id="txt">Nachmeldungen vor Ort sind zu den Zeiten der Startnummernausgabe gegen eine zusätzliche Gebühr von 10,- Euro möglich.</p>
        <p id="txt"> Abmeldungen sind unter Einbehaltung einer Bearbeitungsgebühr von 10 Euro und unter Vorlage eines ärztlichen Attests
          möglich.
        </p>
        <p id="txt">Mit seiner Anmeldung verpflichtet sich jeder Teilnehmer, die Natur sauber zu halten und jeglichen von ihm verursachten
          Müll an den Verpflegungsstellen in den bereitgestellten Behältern zu entsorgen bzw. bis zum Ziel mitzuführen. Bei
          Nichtbeachtung behält sich der Veranstalter Zeitstrafen oder eine Disqualifizierung des Teilnehmers vor.</p>
        <p id="txt"> Wird eine Nennung nicht erfüllt, so ist neben der Meldegebühr ein Reuegeld von 5,- Euro an den Ausrichter zu zahlen.</p>
        <p id="txt">Preise werden nur bei der Siegerehrung überreicht. Bei Nichterscheinen hat der Teilnehmer keinen Anspruch auf nachträgliche
          Zusendung.
        </p>
        <p id="txt">Jeder Teilnehmer (außer MAD Nachwuchs und MAD Laufradrennen) erhält ein Starter-Paket bei der Startnummernausgabe.
          Inhalt des Starter-Pakets *: 1 Kalender 1 T-Shirt 1 Trinkflasche? Verpflegung auf der Strecke Verpflegung im Ziel
          - Gutschein für ein Essen und ein Getränk Bikewäsche *Änderungen vorbehalten</p>
        <p id="txt"> Nach der Online-Anmledung muss das Startgeld innerhalb von 7 Tagen auf dem Konto des Mad East Challenge e.V. eingegangen
          sein. Der Startplatz ist erst gültig, sofern das Startgeld bei uns eingegangen ist.</p>
        <p>
          <button id="disagreeBtn" class="w3-button w3-border w3-hover-pale-red">Nö</button>
        </p>
        <p>
          <button id="agreeBtn" class="w3-button w3-border w3-hover-pale-yellow">Is klar</button>
        </p>
      </div>
    </div>
  </div>

  {{> footer}}

</template>